# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

/.idea/.idea.BankAccounts/.idea
*.jwk
/.idea/.idea.BankAccounts/Docker
/BankAccounts.Identity/keys
/BankAccounts.Api/BankAccounts.Api.csproj.user
/BankAccounts.Identity/BankAccounts.Identity.csproj.user
/doccomp.bat
